<section id="candidates" class="section">
    <div class="container">
        <div class="row g-4 justify-content-center align-items-center">
            <div class="col-12 col-md-8 col-lg-7">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">All Candidates</h5>

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Phone</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each candidates}}
                                <tr id="row-{{this._id}}">
                                    <th scope="row">{{add @index 1}}</th>
                                    <td>{{this.name}}</td>
                                    <td>{{this.email}}</td>
                                    <td>{{this.phone}}</td>
                                    {{#ifor user.permissions.messages.all user.permissions.messages.edit}}
                                    <td>
                                        <a href="/admin/candidates/{{this._id}}" class="btn-ico blue">
                                            <i class="fa-regular fa-pen-to-square"></i>
                                        </a>
                                    </td>
                                    {{/ifor}}
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {{#ifor user.permissions.messages.all user.permissions.messages.add}}
            <div class="col-12 col-md-8 col-lg-7 d-flex justify-content-center align-items-center">
                <a href="/admin/add-admin" class="btn">Add Admin</a>
            </div>
            {{/ifor}}
        </div>
    </div>
</section>