<section id="inner_page_section" class="inner_page_section">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="content">
                            <h3>Recruiter Pool {{pool_name}}</h3>
                            <p class="mt-2">
                                The following are the pools of recruiters for the 2023 batch. The allotment of students
                                to the pools will be done based on the requirements of the companies in the pools.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            {{#each pool}}
            <div class="col-12 col-md-6 col-lg-4 d-flex align-items-stretch">
                <div class="card d-flex align-items-stretch">
                    <div class="card-body">
                        <div class="content">
                            <h3>{{this.name}}</h3>
                            <p>
                                Website: <a style="font-weight: 600" href="{{this.website}}" target="_blank">{{this.website}}</a>
                            </p>
                            <p class="mt-2" style="font-weight: 700">
                                Location: {{#each this.office_locations}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}
                                <br>
                                Mode: {{this.mode}}
                            </p>
                            <p>
                                Expected Onboarding: <strong> {{this.expected_onboarding}}</strong> <br>
                                Expected CTC: <strong> {{this.expected_ctc}}</strong><br>
                                Opening: <strong> {{this.opening}}</strong>
                            </p>
                            <p>
                                Qualification: <strong> {{this.requirements.qualification}}</strong>
                            </p>
                            <p>
                                Graduation Year: <strong>{{#each this.requirements.graduation_year}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}</strong> <br>
                                Arriers Allowed: <strong>
                                    {{#if this.requirements.arriers}}
                                    Yes
                                    {{else}}
                                    No
                                    {{/if}}
                                </strong>
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="button mt-2 row">
                                <div class="col-12">
                                    <a href="/recruiters/{{this.id}}">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="ico"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z" />
                                            <path
                                                d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z" />
                                        </svg>
                                        View More Detail
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>

        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="content">
                            <p style="color:#ff3838; font-weight: 700">
                                Remember to carefully review each pool and its recruiters, prioritize your preferred
                                pool based on location and preference, attend offline interviews, and keep in mind that
                                the allotment is based on the requirements of the companies in the
                                pools.
                            </p>
                            <h5><strong> Best of luck!</strong></h5>
                        </div>
                        <div class="card-footer">
                            <div class="button mt-2 row">
                                <div class="col-12">
                                    <a href="/allotment/apply">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="ico"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                            <path fill-rule="evenodd"
                                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                        </svg>
                                        Apply for allotment
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>