<section id="admins" class="section">
    <div class="container">
        <div class="row g-4 justify-content-center align-items-center">
            <div class="col-12 col-md-10 col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Candidate Details</h5>

                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>Launchpad ID</th>
                                    <th>{{candidate.id}}</th>
                                </tr>
                                <tr>
                                    <th>Rank</th>
                                    <th>{{candidate.rank}}</th>
                                </tr>
                                <tr>
                                    <th>Name:</th>
                                    <th>{{candidate.name}}</th>
                                </tr>
                                <tr>
                                    <th>Registered Email ID</th>
                                    <th>{{candidate.email}}</th>
                                </tr>
                                <tr>
                                    <th>Registered Phone Number</th>
                                    <th>{{candidate.phone}}</th>
                                </tr>
                                <tr>
                                    <th>College/Institution</th>
                                    <th>{{candidate.college}}</th>
                                </tr>
                                <tr>
                                    <th>Course</th>
                                    <th>{{candidate.degree}}</th>
                                </tr>
                                <tr>
                                    <td>Branch</td>
                                    <td>{{candidate.accademic.branch}}</td>
                                </tr>
                                <tr>
                                    <td>Year of Graduation</td>
                                    <td>{{candidate.year_of_graduation}}</td>
                                </tr>
                                <tr>
                                    <td>CGPA</td>
                                    <td>{{candidate.accademic.cgpa}}</td>
                                </tr>
                                <tr>
                                    <td>Total Backlogs</td>
                                    <td>{{candidate.accademic.total_backlogs}}</td>
                                </tr>
                                <tr>
                                    <td>Active Backlogs</td>
                                    <td>{{candidate.accademic.active_backlogs}}</td>
                                </tr>
                                <tr>
                                    <td>Other Available Emails</td>
                                    <td>
                                        {{candidate.other_email.original}} <br>
                                        {{candidate.other_email.corrected}} <br>
                                        {{candidate.other_email.hackerearth}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center align-items-center">
                <a href="/admin/candidates" class="btn">Go Back</a>
            </div>
        </div>
    </div>
</section>